
* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  color: #444;
}

html, body, #root {
  min-height: 100vh;
}

.container {
  max-width: 1000px;
  margin: auto;
}

#root {
  display: grid;
  grid-template-rows: 80px 1fr;
}

.flex {
  display: flex;
  align-items: center;
  height: 100%;
}

.flex-right {
  margin-left: auto;
}
.header{
  border-bottom: 1px solid #ccc;
  box-shadow: 0 5px 20px -5px rgba(0,0,0,0.2);
}
.header-item {
  display: inline-block;
  text-decoration: none;
  color: #444;
  border-bottom: 2px solid transparent;
}

.header-item.brand {
  margin-right: 15px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
}

.header-item:not(.brand) {
  margin-left: 20px;
}

.header-item:not(.brand).active,
.header-item:not(.brand):hover {
  border-bottom: 2px solid #58C4A7;
  color: #444;
}

.jumbo {
  background-image: url("/img/jumbo.jpg");
  background-size: cover;
  color: white;
  height: 500px;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.jumbo-title {
  font-size: 70px;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}

.jumbo-text {
  font-size: 24px;
  width: 70%;
  margin: 0 auto;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}