
.users {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-gap: 30px;
}

.user {
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 20px 20px 40px 20px;
  margin-bottom: 30px;
}


.user .foto {
  display: flex;
}

.user img {
  width: 100%;
}

.user .name {
  font-size: 20px;
  border-bottom: 1px solid #871F22;
  padding-bottom: 8px;
  margin-bottom: 10px;
}

.user .info {
  position: absolute;
  bottom: -22px;
  background-color: #C2554F;
  padding: 10px;
  width: calc(100% - 40px);
  text-align: center;
  color: white;
}