* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  color: #444;
}

html, body, #root {
  min-height: 100vh;
}

#root {
  background: url("/img/back.webp") no-repeat;
  background-size: 100%;
}

.container {
  width: 1280px;
  margin: auto;
  border: 1px solid transparent;
}

.jumbo {
  padding: 30px 0;
  color: white;
  text-align: center;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

.jumbo h1 {
  font-size: 50px;
}

.jumbo p {
  font-size: 26px;
}

.view {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 13px 74px -27px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  grid-gap: 10px;
  margin-bottom: 50px;
}

.view-data {
  display: grid;
  grid-template-rows: 1fr auto;
}

.view-data-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding-bottom: 20px;
}


.view-data-grid > div {
  background-color: #127bca;
  border-radius: 8px;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
}

.view-data-flag {
  width: 400px;
  height: 260px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}
.view-data-block{
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;

}
.view-data-title {
  font-size: 14px;
  margin-bottom: 6px;
}

.view-data-value {
  font-size: 20px;
}

.view-data-icon.fa {
  font-size: 30px;
  margin-left: auto;
}

.view-data-flag img {
  width: 100%;
  height: 100%;
}

.countries {
  overflow-y: auto;
  height: 623px;
  user-select: none;
}

.countries-item {
  padding: 4px 8px;
  cursor: pointer;
  /*transition: background-color 300ms;*/
  display: flex;

}

.countries-item:hover,
.countries-item.active {
  background-color: #127bca;
  color: white;
  transition: background-color 100ms;
}

.countries-item .country {
  font-weight: bold;
}

.countries-item .capital {
  color: #777;
  margin-left: auto;
}

.countries-item:hover .capital,
.countries-item.active .capital {
  color: white;
}