@font-face {
  font-family: 'MythBusters';
  src: url('/fonts/MythBusters.ttf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'Consolas';
  src: url('/fonts/Consolas.ttf') format('opentype');
  font-weight: normal;
}
