/*
@media (max-width: 1440px) {}
@media (max-width: 1280px) {}
@media (max-width: 1000px) {}
@media (max-width: 750px) {}
@media (max-width: 500px) {}
*/

.container {
  width: 1396px;
  margin: auto;
}

.show {
  @include show-mixin;

}

.hide {
  @include hide-mixin;
}

/* DESKTOP */

.show-tablet,
.show-mobile,
.show-micro,
.show-tablet-down,
.show-mobile-down,
.hide-desktop,
.hide-tablet-up,
.hide-mobile-up {
  @include hide-mixin;
}

@media (max-width: 1440px) {
  .container {
    width: 1236px;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 956px;
  }
}

@media (max-width: 1000px) {
  /* TABLET */
  .container {
    width: calc(100% - 30px);
  }
  .show-tablet,
  .show-tablet-down,
  .hide-desktop {
    @include show-mixin;
  }
  .show-desktop,
  .hide-tablet,
  .hide-tablet-down {
    @include hide-mixin;
  }
}

@media (max-width: 750px) {
  /* MOBILE */

  .show-mobile,
  .show-mobile-down,
  .hide-tablet,
  .hide-tablet-up {
    @include show-mixin;
  }
  .show-tablet,
  .hide-mobile,
  .hide-mobile-down,
  .show-tablet-up {
    @include hide-mixin;
  }
}

@media (max-width: 500px) {
  /* MICRO */
  .container {
    width: calc(100% - 14px);
  }
  .show-micro,
  .hide-mobile,
  .hide-mobile-up {
    @include show-mixin;
  }
  .show-mobile,
  .show-mobile-up,
  .hide-micro {
    @include hide-mixin;
  }
}

