.responsive-demo-box {
  border: 1px solid #ccc;
}

.media-box {
   border-collapse: collapse;
   border-spacing: 0;
   width: 100%;
   max-width: 500px;
 }

.media-row {
  border: 1px solid #ccc;
}

.media-title {
  text-align: center;
  margin: 15px 0;
}

.media-size {
  color: #ccc;
}
